* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family:inherit;
    box-sizing:border-box;
  }
    
  ol, ul, li {
    list-style:none;
    display:block;
  }
    
  table {
    border-collapse: collapse;
    border-spacing:0;
  }
    
  a, img {
    border: none;
  }
    
  button, a {
    cursor: pointer;
    color: inherit;
  }
    
  textarea {
    resize: none;
  }
    
  button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
  }
 
body {
  background-color: #fff4c2;
}
  
#root {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.itemDiv {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #cc9966;
  border-radius: 30%;
  box-shadow: 8px 8px 14px #9c6137;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #fffddd;
  background-color: #c5712d;
}

.itemDiv:hover {
  transition: transform 0.5s;
  transform: scale(1.5);
}